@model RenoExpress.Models.INVENTARIO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ELIMINAR INVENTARIO</title>
</head>
<body><CENTER>
    <h3>ESTA SEGURO DE ELIMINAR INVENTARIO?</h3>
    <div>
        <h4>INVENTARIO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.stoc_minimo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stoc_minimo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.stock_maximo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stock_maximo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cantidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PRODUCTO.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PRODUCTO.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SUCURSAL.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SUCURSAL.nombre)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
                @Html.ActionLink("REGRESAR", "Index")
            </div>
        }
    </div>

</CENTER>
</body>
</html>
