@model IEnumerable<RenoExpress.Models.COMPRA>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COMPRAS</title>
</head>
<body>
    <center>
        <p>
            @Html.ActionLink("NUEVA COMPRA", "Create")
        </p>
        <table class="table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio_unitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PRODUCTO.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SUCURSAL.nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio_unitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCTO.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUCURSAL.nombre)
                    </td>
                    <td>
                        @Html.ActionLink("ACTUALIZAR", "Edit", new { id = item.id_compra }) |
                        @Html.ActionLink("DETALLES", "Details", new { id = item.id_compra }) |
                        @Html.ActionLink("ELIMINAR", "Delete", new { id = item.id_compra })
                    </td>
                </tr>

            }

        </table><br />


        <div>@Html.ActionLink("Inicio", "Index", "HOME", new { area = "" }, null)</div>
    </center>
</body>
</html>
